@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'), url(../fonts/Ubuntu-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../fonts/Roboto-Light.ttf) format('ttf');
}