@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: Ubuntu;
        font-weight: normal;
        src: local(Ubuntu), url(../fonts/Ubuntu-Regular.ttf) format("ttf");
    }
    @font-face {
        font-family: "Roboto Light";
        font-weight: 300;
        src: local("Roboto Light"), url(../fonts/Roboto-Light.ttf) format("ttf");
    }
}